. {
	font-family: 'Playfair Display SC', serif;
}

body {
	background-image: url(../purty_wood.png);
}

.welcome {
	height: 150px;
	width: 550px;
	margin: auto;
	margin-top: 7%;
	text-align: center;
}

.welcome-header {
	font-weight: 900;
	font-style: bold;
}

.description {
	max-height: 13em;
	overflow: auto;
}

.welcome-button {
	margin: 0px 5px 5px 0px;
}

h4 {
	margin-bottom: 5px;
}

.main-area-row {
	display: flex;
	flex-wrap: wrap;
}

.col-xs-6 {
	width: 49%;
}

.submit-button {
	margin-top: 5px;
}