<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class='panel-title'> Not a member? Sign up </h3>
  </div>
  <div class="panel-body">
    <form action="/user/create" method="post" id="sign-up-form">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" >
        <br>
        <label>Email:</label>
        <input type="email" name="email"  class="form-control" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password"  class="form-control" required>
        <input type="submit" value="Create Account" class="btn btn-info submit-button">
        </div>
    </form>
  </div>
</div>