<!-- create survey form -->

<form action='/questions' method='post'>
  <label for="content">Question to ask</label>
  <input type="text" name="content" placeholder="What is your question?">
  <input type="submit" value="Submit">
</form>
