<div class="welcome">
	<h1 class="welcome-headers">Welcome, <span class="welcome-name">Bearded One!</span></h1>
	<h3 class="welcome-headers">Login to See Some Awesome Products.</h3>
</div>

<div class="row">
  <div class="col-md-3" >
  	<img src=<%= random_beard %> class="img-responsive">
  </div>
  <div class="main-area">
	  <div class="col-md-3">
	    <%= erb :'users/_sign_up' %>
	  </div>
	  <div class="col-md-3">
	    <%= erb :'users/_login' %>
	  </div>
  </div>
  <div class="col-md-3" >
  	<img src=<%= random_beard %> class="img-responsive">
  </div>
<div>