<div class="welcome">
	<h1>Welcome, Bearded Ones!</h1>
	<h2>Please Login to Join Us.</h2>
</div>

<div class="row">
  <div class="col-md-3" >
  	<img src="beard-slogan1.jpg" class="img-responsive">
  </div>
  <div class="col-md-3">
    <%= erb :'users/_sign_up' %>
  </div>
  <div class="col-md-3">
    <%= erb :'users/_login' %>
  </div>
  <div class="col-md-3" >
  	<img src="beard-slogan2.jpg" class="img-responsive">
  </div>
</div>