<div class="welcome">
	<h1 class="welcome-headers">Welcome, <span class="welcome-name">Bearded One!</span></h1>
	<h2 class="welcome-headers">Please Login to Join Us.</h2>
</div>

<div class="row">
  <div class="col-md-3" >
  	<img src="beard-slogan1.jpg" class="img-responsive">
  </div>
  <div class="main-area">
	  <div class="col-md-3">
	    <%= erb :'users/_sign_up' %>
	  </div>
	  <div class="col-md-3">
	    <%= erb :'users/_login' %>
	  </div>
  </div>
  <div class="col-md-3" >
  	<img src="beard-slogan2.jpg" class="img-responsive">
  </div>
</div>