<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700,900,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/handlebars-v3.0.0.js"></script>
  <script src="/js/application.js"></script>

  <title>The Beard Maketh the Man</title>
</head>
<body>
  <div class="container-fluid">
    <% if flash[:errors] != nil %>
  		<% flash[:errors].each do |error| %>
  			<%= error %>
  		<% end %>
  	<% end %>
    <%= yield %>
  </div>

  <script id="product-template" type="text/x-handlebars-template" >
  	<div class="col-xs-6 clearfix" id={{id}}>
      <div class="thumbnail">
        <img src={{image_source}} alt={{title}}>
        <div class="caption">
          <h3>{{title}}</h3>
          <p class="description">{{description}}</p>
          <p>$<span class="price">{{price}}</span></p>
          <p><a href={{url}} class="btn btn-default btn-primary product-url" target="_blank">See on Etsy</a></p>
          <p><a href="/user/items/add" class="btn btn-default btn-primary add-item">Add to Your Items</a></p>
        </div>
      </div>
    </div>
  </script>
  <script id="users-product-template" type="text/x-handlebars-template" >
    <div class="col-xs-6 clearfix" id={{id}}>
      <div class="thumbnail">
        <img src={{image_source}} alt={{title}}>
        <div class="caption">
          <h3>{{title}}</h3>
          <p class="description">{{description}}</p>
          <p>$<span class="price">{{price}}</span></p>
          <p><a href={{url}} class="btn btn-default btn-primary product-url" target="_blank">See on Etsy</a></p>
          <p><a href="/user/items/delete" class="btn btn-default btn-primary remove-item">Remove from Your Items</a></p>
        </div>
      </div>
    </div>
  </script>
</body>
</html>
