<div class="welcome">
	<h1 class="welcome-headers">Welcome, <%= current_user.name %></h1>
	<button class='btn btn-info welcome-button' id='safety-razors'>Safety Razors</button>
	<button class='btn btn-info welcome-button' id='shaving-brushes'>Brushes</button>
	<button class='btn btn-info welcome-button' id='shaving-cream'>Creams</button>
	<button class='btn btn-info welcome-button' id='shaving-kits'>Shaving Kits</button>
	<button class='btn btn-info welcome-button' id='after-shave-balm'>After Shaves</button>
	<button class='btn btn-info items-button' id='usersItems'>Your Saved Items</button>
	<a class='btn btn-info logout' href='/logout'>Logout</a>
</div>

<div class="row">
  <div class="col-md-3" >
  	<img src="beard-slogan1.jpg" class="img-responsive">
  </div>
  <div class="main-area">
	  <div class="col-md-6">

	  </div>
  </div>
  <div class="col-md-3" >
  	<img src="beard-slogan2.jpg" class="img-responsive">
  </div>
</div>